%h1 Listado de Prestadores

- if @prestadores.any?
  %table#prestadores.table.table-stripped
    %thead
      %tr
        %th Nombre
        %th

    %tbody
      - @prestadores.each do |prestador|
        %tr
          %td= prestador.nombre
          %td
            .btn-group
              = link_to 'Mostrar', prestador, class: 'btn'
              = link_to 'Editar', edit_prestador_path(prestador), class: 'btn'
              = link_to 'Eliminar', prestador, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger'
- else
  %div
    %h3 No se encontraron Prestadores

%br

= link_to "Nuevo Prestador", new_prestador_path, class: 'btn btn-primary'
