%h1
  = "#{@prestamo.lector.nombre_completo}"
  
%h2 
  = "#{@prestamo.libro.titulo}"

.form-actions
  .btn-group
    = link_to 'Editar', edit_prestamo_path(@prestamo), class: 'btn'
    = link_to 'Listado', prestamos_path, class: 'btn'
