= form_for @libro,html:{ class: 'form-horizontal'} do |f|
  = render 'error_messages', target: @libro

  .control-group
    = f.label :titulo, class: 'control-label'
    .controls
      = f.text_field :titulo
  .control-group
    = f.label :autor, class: 'control-label'
    .controls
      = f.text_field :autor
  .control-group
    = f.label :editorial, class: 'control-label'
    .controls
      = f.text_field :editorial
  .control-group
    = f.label :isbn, class: 'control-label'
    .controls
      = f.text_field :isbn
  .control-group
    = f.label :tipo, "¿Es juego?", class: 'control-label'
    .controls
      = f.check_box :tipo
  .control-group
    = f.label :descripcion, class: 'control-label'
    .controls
      = f.text_area :descripcion
  .control-group
    = f.label :cantidad, class: 'control-label'
    .controls
      = f.text_field :cantidad


  .form-actions
    = f.submit class: 'btn btn-primary'
