%h1 Libros

%table#libros.table.table-stripped
  %thead
    %tr
      %th Titulo
      %th Autor
      %th Editorial
      %th Isbn
      %th
  %tbody
    - @libros.each do |libro|
      %tr
        %td= libro.titulo
        %td= libro.autor
        %td= libro.editorial
        %td= libro.isbn
        %td
          .btn-group
            = link_to 'Mostrar', libro, class: 'btn'
            = link_to 'Editar', edit_libro_path(libro), class: 'btn'
            = link_to 'Eliminar', libro, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger'

.form-actions
  = link_to "Nuevo Libro", new_libro_path, class: 'btn btn-primary'
