.credencial
  .credencial-frente
    .datos
      .escuela
        %p 
          %strong USAER 48
        %span Sala de Actividades Lúdicas
      .datos-alumno
        .nombre-alumno
          %p
            %strong Alumno:
            = l.nombre_completo
          %p
            %strong Grado/Grupo: 
            = "#{l.grado} #{l.grupo}"
          %p
            %strong Edad:
            = "#{edad(l)} años"
    .foto
      - if l.foto
        = image_tag l.foto_url
  .credencial-atras
    .qr
      = image_tag l.qr_url
    .firmas
      .firma 
        %p LEE Laura Judith Bravo Sumano 


