= form_for @lector,html:{ class:'form-horizontal'} do |f|
  = render 'error_messages', target: @lector
  .control-group
    = f.label :nombre, class: 'control-label'
    .controls 
      = f.text_field :nombre, placeholder: 'Nombre(s)'
      = f.text_field :primer_apellido, placeholder: 'Primer Apellido'
      = f.text_field :segundo_apellido, placeholder: 'Segundo Apellido'
  .control-group
    = f.label 'Grado/Grupo', class: 'control-label'
    .controls 
      = f.text_field :grado, class: 'input-mini'
      \/
      = f.text_field :grupo, class: 'input-mini'
  .control-group
    = f.label :fecha_nacimiento, class: 'control-label'
    .controls
      = f.text_field :fecha_nacimiento

  .form-actions
    = f.submit class: 'btn btn-primary'
