%h1 Lectores

%table#lectores.table.table-stripped
  %thead
    %tr
      %th Nombre
      %th Primer apellido
      %th Segundo apellido
      %th Grado
      %th Grupo
      %th

  %tbody
    - @lectores.each do |lector|
      %tr
        %td= lector.nombre
        %td= lector.primer_apellido
        %td= lector.segundo_apellido
        %td= lector.grado
        %td= lector.grupo
        %td
          .btn-group
            = link_to 'Mostrar', lector, class: 'btn'
            = link_to 'Editar', edit_lector_path(lector), class: 'btn'
            = link_to 'Eliminar', lector, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger'
%br

= link_to "Nuevo Lector", new_lector_path, class: 'btn btn-primary'
