%h1
  = "#{@lector.nombre_completo} - (#{@lector.grado} #{@lector.grupo})"

- if @lector.foto
  = image_tag @lector.foto_url, class: 'img-polaroid' 


%h2
  = "#{edad(@lector)} años"

.form-actions
  .btn-group
    = link_to 'Editar', edit_lector_path(@lector), class: 'btn'
    = link_to 'Listado', lectores_path, class: 'btn'
