%h1
  = "#{@lector.nombre} #{@lector.primer_apellido} #{@lector.segundo_apellido} - (#{@lector.grado} #{@lector.grupo})"

%h2
  = "#{edad(@lector)} años"

.form-actions
  .btn-group
    = link_to 'Editar', edit_lector_path(@lector), class: 'btn'
    = link_to 'Listado', lectores_path, class: 'btn'
